name: Deploy Node App to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            cd /home/ubuntu || exit 1

            if [ ! -d "Fittract_backend" ]; then
              git clone https://github.com/pavaner2007/Fittract_backend.git
            fi

            cd Fittract_backend || exit 1
            git pull origin main

            echo "MONGODB_URI=${{ secrets.MONGODB_URI }}" > .env
            echo "PORT=5000" >> .env
            echo "JWT_SECRET=${{ secrets.JWT_SECRET }}" >> .env

            npm install
            pm2 delete student-api || true
            pm2 start server.js --name student-api
            pm2 save
